@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Colors */
  --color-mint: #10b981;
  --color-light-mint: #34e3b0;
  --color-flax: #fef08a;
  --color-seasalt: #f9fafb;
  --color-prussian: #1e293b;
  --color-black: #22223b;

  /* Layout */
  --max-width: 1200px;
  --radius: 1rem;

  /* Variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #22223b;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .max-w-site {
    max-width: var(--max-width);
  }

  /* Container */
  .container-site {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
  }
}
